Repository opea-project/GenAIComps, changes with the owners that .github/CODEOWNERS names for each.
All owners: sihan.chen@intel.com, liang1.lv@intel.com, xinyu.ye@intel.com, xuhui.ren@intel.com, letong.han@intel.com

.github/CODEOWNERS:

/comps/asr/ sihan.chen@intel.com
/comps/cores/ liang1.lv@intel.com
/comps/dataprep/ xinyu.ye@intel.com
/comps/embeddings/ xuhui.ren@intel.com
/comps/guardrails/ letong.han@intel.com
/comps/llms/ liang1.lv@intel.com
/comps/reranks/ xuhui.ren@intel.com
/comps/retrievers/ xuhui.ren@intel.com
/comps/tts/ sihan.chen@intel.com

add VDMS retriever microservice
  comps/__init__.py
  comps/cores/proto/docarray.py
  comps/retrievers/langchain/README.md
  comps/retrievers/langchain/vdms/README.md
  comps/retrievers/langchain/vdms/__init__.py
  comps/retrievers/langchain/vdms/docker/Dockerfile
  comps/retrievers/langchain/vdms/docker/docker_compose_retriever.yaml
  comps/retrievers/langchain/vdms/ingest.py
  comps/retrievers/langchain/vdms/requirements.txt
  comps/retrievers/langchain/vdms/retriever_vdms.py
  comps/retrievers/langchain/vdms/run.sh
  comps/retrievers/langchain/vdms/vdms_config.py
  comps/vectorstores/README.md
  comps/vectorstores/langchain/vdms/README.md
  comps/vectorstores/langchain/vdms/__init__.py
  comps/vectorstores/langchain/vdms/docker-compose-vdms.yml
  tests/test_retrievers_langchain_vdms.sh
Owners: liang1.lv@intel.com, xuhui.ren@intel.com

fix get file error & refine logs
  comps/dataprep/redis/langchain/prepare_doc_redis.py
Owners: xinyu.ye@intel.com

add README
  comps/embeddings/multimodal_embeddings/README.md
  comps/embeddings/multimodal_embeddings/bridgetower/docker/docker_compose_bridgetower_embedding_endpoint.yaml
  comps/embeddings/multimodal_embeddings/multimodal_langchain/local_mm_embedding.py
Owners: xuhui.ren@intel.com

add retrieval gateway and logger back to init
  comps/__init__.py
Owners: none

fix freeze workflow (#522)
  .github/workflows/scripts/freeze_images.sh
Owners: none

Fix Dataprep Potential Error in get_file (#540)
  comps/dataprep/redis/langchain/prepare_doc_redis.py
Owners: xinyu.ye@intel.com

Update README and change environment variable name
  comps/embeddings/multimodal_embeddings/README.md
  comps/embeddings/multimodal_embeddings/multimodal_langchain/docker/docker_compose_multimodal_embedding.yaml
  comps/embeddings/multimodal_embeddings/multimodal_langchain/local_mm_embedding.py
  comps/embeddings/multimodal_embeddings/multimodal_langchain/mm_embedding_mmei.py
Owners: xuhui.ren@intel.com

added upload_training_files and list_checkpoints.
  comps/finetuning/README.md
  comps/finetuning/finetuning_service.py
  comps/finetuning/handlers.py
  comps/finetuning/models/llama-2-7b-chat-hf.yaml
  comps/finetuning/models/mistral-7b-v0.1.yaml
  comps/finetuning/requirements.txt
Owners: none

add test for embedding
  tests/test_multimodal_embeddings_langchain.sh
Owners: none

fix test
  tests/test_multimodal_embeddings_langchain.sh
Owners: none

add diagram
  comps/cores/telemetry/README.md
Owners: liang1.lv@intel.com

highlight
  comps/cores/telemetry/README.md
Owners: liang1.lv@intel.com

fix test
  tests/test_multimodal_embeddings_langchain.sh
Owners: none

support no_rerank input in llm
  comps/llms/text-generation/tgi/README.md
  comps/llms/text-generation/tgi/docker_compose_llm.yaml
  comps/llms/text-generation/tgi/llm.py
Owners: liang1.lv@intel.com

fix test
  tests/test_multimodal_embeddings_langchain.sh
Owners: none

Fix #568
  comps/dataprep/redis/langchain/docker/Dockerfile
Owners: xinyu.ye@intel.com
